# Ignore everything
#/*
# smth like that
#*/**
*

# Unignore this file itself
!.gitignore

# Allow directories
!*/

#disallow minitester
/minitester

# Allowed files
!*.c
!*.h
!*.json
!Makefile
!f_valgrind_readline.supp
!minishell_tester
!test.txt
